
.nav-bar{
    background-color: #EDE1DB !important;
    height: 150px;
}

.logo{
    border-radius: 100px;
    /* width: 80px; */
}

.nav-item-cart{
   /* border: solid 1px red; */
   width: 50px;
}

.nav-item-cart:hover{
    cursor: pointer;
}

.nav-link{
    color: black;
}
